@charset "UTF-8";
.fz-xxl {
  font-size: 48px;
}

.fz-xl {
  font-size: 28px;
}

.fz-md {
  font-size: 24px;
}

.fz-sm {
  font-size: 16px;
}

.fz-xs {
  font-size: 14px;
}

.caja__resumen, .frase {
  font-family: "Indie Flower", cursive;
  font-style: italic;
  text-align: center;
}

/*--RESET--*/
* {
  font-family: "adam";
  font-size: x-large;
  background-color: #f7f8f2;
  margin: 0;
  padding: 0;
}

/*--ENLACE ADAM FONT--*/
@font-face {
  font-family: "adam";
  src: url(../fonts/Adam-Bold.ttf);
  font-display: swap;
}
/*--GRID - CONOCEME--*/
.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 220px auto 230px auto auto;
  grid-template-areas: "detalle1   detalle1    foto_frente" "detalle2   detalle2    detalle2" "foto_1     foto_2      resumen_1" "detalle3   detalle3    detalle3" "foto_3     resumen_2   foto_4" "detalle4   detalle4    detalle4" "detalle5   detalle5    detalle5";
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

.caja {
  margin: 15px;
}

.descripcion_1 {
  grid-area: detalle1;
}

.foto-frente {
  grid-area: foto_frente;
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.descripcion_2 {
  grid-area: detalle2;
  margin-bottom: 0;
}

.foto_1 {
  grid-area: foto_1;
  width: auto;
  height: 100%;
}

.foto_2 {
  grid-area: foto_2;
  width: auto;
  height: 100%;
}

.resumen_1 {
  grid-area: resumen_1;
  background-color: #f0e3db;
  padding-top: 6px;
}

.descripcion_3 {
  grid-area: detalle3;
  padding-top: 43px;
  margin-bottom: 0;
}

.foto_3 {
  grid-area: foto_3;
  width: auto;
  height: 100%;
}

.resumen_2 {
  grid-area: resumen_2;
  background-color: #f0e3db;
  padding-top: 8px;
}

.foto_4 {
  grid-area: foto_4;
  width: auto;
  height: 100%;
}

.descripcion_4 {
  grid-area: detalle4;
}

.descripcion_5 {
  grid-area: detalle5;
  margin-top: 0;
}

/*--ESTILOS DEL HEADER--*/
.bg-nav {
  background-color: #95a09a;
}

.contenedor-header {
  padding: 0;
}

.contenedor-nav {
  padding: 0;
  padding-left: 27px;
}

.logo-nav {
  width: 65%;
  height: auto;
}

.boton-nav {
  color: #95a09a;
  border: none;
}

.contenedor-ul {
  padding-right: 20px;
}

.font-nav {
  font-family: "adam";
  font-size: x-large;
  color: #95a09a;
}

/*--ESTILOS FOOTER--*/
.contenedor-footer {
  display: inline-block;
  border: 7px solid #f0e3db;
  padding: 15px;
  margin-top: 90px;
}

.logo-footer {
  width: auto;
  height: auto;
}

.a-footer {
  background-color: #f7f8f2;
  color: #f7f8f2;
}

.icono-footer {
  background-color: #f7f8f2;
  width: auto;
  height: 40px;
}

.contenedor-diseño {
  padding: 0;
  margin-top: 50px;
}

.diseño {
  background-color: #95a09a;
  color: #f7f8f2;
  margin-bottom: 0;
  padding: 0;
}

/*--ESTILOS GENERALES--*/
/*.body{
    background-color: map-get($bg-color, tiza);
}*/
h1 {
  font-family: "adam";
  font-size: 5m;
  font-weight: 600;
  color: rgba(94, 97, 95, 0.6);
  text-align: center;
  padding: 40px;
}

.justificar {
  text-align: justify;
}

.centar {
  text-align: center;
}

strong {
  text-shadow: 1px 1px 1px gray;
}

/*--ESTILOS DEL INDEX--*/
.grid {
  margin: 0;
  padding: 0;
}

.contenedor-frase {
  margin: 0;
}

.bg-portada {
  display: flex;
  justify-content: center;
  background-image: url(../assets/portada.webp);
  background-size: cover;
  height: 540px;
  margin: 0;
  padding: 0;
  position: relative;
}

.frase {
  display: flex;
  margin: 40px;
  color: #5e615f;
  background: none;
}

.footer {
  display: none;
}

/*.footer{
    position: absolute;
    bottom: 0;
    background-color:  transparent;
    margin-bottom: 5px;

    &__contenedor{
        margin-left: 42px;
        background-color: transparent;

        &__enlace{
            background-color: transparent;
            color: transparent;

            &__icono{
                background-color:transparent;
                width: 11%;
            }
        }
    }       
}*/
/*--ESTILOS CONOCEME--*/
.foto-frente__img {
  width: 100%;
}

.caja__img {
  width: 95%;
  height: auto;
  padding: 0;
}

.p-padding {
  padding-top: 30px;
}

.caja__resumen {
  background-color: #f0e3db;
  font-size: 1.1rem;
  padding: 9.1px;
}

/*--ESTILOS DE SERVICIOS--*/
.h2-servicios {
  font-weight: 600;
  text-align: center;
  color: #95a09a;
  background-color: #f0e3db;
}

.row-servicios {
  margin: 5px;
  padding: 0;
}

.col-servicios {
  padding: 0;
}

.img-servicios {
  width: 100%;
  padding: 5px;
}

/*--ESTILOS PORTAFOLIO--*/
.img-portafolio {
  display: block;
  margin: 0 auto;
  width: 90%;
  border-radius: 4%;
}

.h2-portafolio {
  font-weight: 600;
  text-align: center;
  color: #95a09a;
}

/*--ESTILOS CONTACTO--*/
.contenedor-icono {
  padding-left: 42px;
}
.contenedor-icono__img {
  width: 40px;
  height: 40px;
}

.contacto__p {
  font-family: "Indie Flower", cursive;
  margin-top: 50px;
  margin-bottom: 0;
}

.btn-contacto {
  border: none;
  background-color: #bdd2c1;
}

/*--ANIMACION EN TITULOS Y EN FRASE CONTACTO--*/
.animacion {
  overflow: hidden;
}
.animacion p {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(70, end);
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
/*--MEDIA QUERIES - INDEX--*/
@media (min-width: 300px) and (max-width: 350px) {
  .frase {
    font-size: 0.6em;
  }
}
@media (min-width: 351px) and (max-width: 575px) {
  .frase {
    font-size: 0.7em;
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  .frase {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }
  .bg-portada {
    background-image: url(../assets/portada2.webp);
  }
  .footer__contenedor {
    margin-left: 300px;
  }
  .footer__contenedor__enlace__icono {
    width: 15%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .frase {
    font-size: 1em;
    left: 15%;
  }
}
/*--MEDIA QUERIES - CONOCEME--*/
@media (min-width: 300px) and (max-width: 575px) {
  .grid__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "detalle1       detalle1" "foto_frente    foto_frente" "detalle2       detalle2" "foto_1         foto_2" "resumen_1      resumen_1" "detalle3       detalle3" "foto_3         foto_4" "resumen_2      resumen_2" "detalle4       detalle4" "detalle5       detalle5";
  }
  .descripcion_3 {
    padding-top: 0;
  }
}
@media (min-width: 300px) and (max-width: 991px) {
  .foto-frente__img {
    display: flex;
    width: 50%;
    max-width: 100%;
  }
  .caja__resumen {
    font-size: 1rem;
  }
  .foto_3 {
    width: 93%;
  }
  .p-padding {
    padding-top: 0;
    margin-top: 0;
  }
  .foto_4 {
    width: 93%;
  }
  .p-conoceme {
    font-size: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 1199px) {
  .grid__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "detalle1       detalle1" "foto_frente    foto_frente" "detalle2       detalle2" "foto_1         foto_2" "resumen_1      resumen_1" "detalle3       detalle3" "foto_3         foto_4" "resumen_2      resumen_2 " "detalle4       detalle4" "detalle5       detalle5";
  }
  .foto-frente__img {
    display: flex;
    width: 50%;
    max-width: 100%;
  }
  .descripcion_3 {
    padding-top: 0;
  }
  .caja__resumen {
    margin: 0;
  }
  .p-padding {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .p-conoceme {
    font-size: 0.7rem;
  }
  .resumen_1 {
    padding-top: 0;
    width: 90%;
  }
  .descripcion_2 {
    margin-top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
