.fz-xxl {
  font-size: 48px;
}

.fz-xl {
  font-size: 28px;
}

.fz-md {
  font-size: 24px;
}

.fz-sm {
  font-size: 16px;
}

.fz-xs {
  font-size: 14px;
}

.caja__resumen, .frase {
  font-family: "Indie Flower", cursive;
  font-style: italic;
  text-align: center;
}

/*--RESET--*/
* {
  font-family: "adam";
  font-size: x-large;
  background-color: #f7f8f2;
  margin: 0;
  padding: 0;
}

/*--GRID - CONOCEME--*/
.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 210px auto 260px auto auto;
  grid-template-areas: "detalle1   detalle1    foto_frente" "detalle2   detalle2    detalle2" "foto_1     foto_2      resumen_1" "detalle3   detalle3    detalle3" "foto_3     resumen_2   foto_4" "detalle4   detalle4    detalle4" "detalle5   detalle5    detalle5";
  margin: 15px;
}

.caja {
  margin: 15px;
}

.descripcion_1 {
  grid-area: detalle1;
}

.foto-frente {
  grid-area: foto_frente;
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.descripcion_2 {
  grid-area: detalle2;
  margin-bottom: 0;
}

.foto_1 {
  grid-area: foto_1;
  width: 100%;
}

.foto_2 {
  grid-area: foto_2;
  width: 100%;
}

.resumen_1 {
  grid-area: resumen_1;
  padding-top: 6px;
}

.descripcion_3 {
  grid-area: detalle3;
  padding-top: 43px;
  margin-bottom: 0;
}

.foto_3 {
  grid-area: foto_3;
  width: 100%;
}

.resumen_2 {
  grid-area: resumen_2;
  padding-top: 8px;
}

.foto_4 {
  grid-area: foto_4;
  width: 98%;
}

.descripcion_4 {
  grid-area: detalle4;
}

.descripcion_5 {
  grid-area: detalle5;
  margin-top: 0;
}

/*--ESTILOS DEL HEADER--*/
.bg-nav {
  background-color: #95a09a;
}

.contenedor-nav {
  padding: 0;
}

.logo-nav {
  width: 28%;
}

.boton-nav {
  color: #95a09a;
  border: none;
}

.font-nav {
  font-family: "adam";
  font-size: x-large;
  color: #95a09a;
}

/*--ESTILOS FOOTER--*/
.logo-footer {
  width: 17%;
  margin-top: 35px;
}

.a-footer {
  background-color: #f7f8f2;
  color: #f7f8f2;
}

.icono-footer {
  background-color: #f7f8f2;
  width: 5%;
}

/*--ESTILOS GENERALES--*/
.body {
  background-color: #f7f8f2;
}

h1 {
  font-family: "adam";
  font-size: 5m;
  font-weight: 600;
  color: rgba(94, 97, 95, 0.6);
  text-align: center;
  margin: revert;
}

.text-aling-justify {
  text-align: justify;
}

.text-aling-center {
  text-align: center;
}

/*--ESTILOS DEL INDEX--*/
.grid {
  margin: 0;
  padding: 0;
}

.bg-portada {
  background-image: url(../assets/portada.jpg);
  background-size: cover;
  height: 540px;
  margin: 0;
  padding: 0;
  position: relative;
}

.frase {
  display: flex;
  color: #5e615f;
  position: absolute;
  top: 15%;
  left: 25%;
  background: none;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  margin-bottom: 5px;
}
.footer__contenedor {
  margin-left: 42px;
  background-color: transparent;
}
.footer__contenedor__enlace {
  background-color: transparent;
  color: transparent;
}
.footer__contenedor__enlace__icono {
  background-color: transparent;
  width: 11%;
}

/*--ESTILOS CONOCEME--*/
.foto-frente__img {
  width: 100%;
}

.caja__img {
  width: 95%;
  padding: 0;
}

.p-padding {
  padding-top: 30px;
}

.caja__resumen {
  background-color: #f0e3db;
  font-size: 1.1rem;
  padding-top: 9px;
  padding-bottom: 9px;
}

.autor {
  margin-top: 27px;
}

/*--ESTILOS DE SERVICIOS--*/
.h2-servicios {
  font-weight: 600;
  text-align: center;
  color: #95a09a;
  background-color: #f0e3db;
}

.row-servicios {
  margin: 5px;
  padding: 0;
}

.col-servicios {
  padding: 0;
}

.img-servicios {
  width: 100%;
  padding: 5px;
}

.p-servicios {
  text-align: justify;
}

/*--ESTILOS PORTAFOLIO--*/
.img-portafolio {
  width: 90%;
  border-radius: 4%;
}

.h2-portafolio {
  font-weight: 600;
  text-align: center;
  color: #95a09a;
}

/*--ESTILOS CONTACTO--*/
.contacto__p {
  font-family: "Indie Flower", cursive;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 80px;
}

.icono-contacto {
  width: 60%;
}

.p-padding-cero {
  padding: 0;
}

.btn-contacto {
  border: none;
  background-color: #bdd2c1;
}

/*--ANIMACION EN TITULOS Y EN FRASE CONTACTO--*/
.animacion {
  overflow: hidden;
}
.animacion p {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(70, end);
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
/*--MEDIA QUERIES - INDEX--*/
@media (min-width: 300px) and (max-width: 575px) {
  .frase {
    font-size: 0.7em;
    top: 0%;
    left: 20%;
    margin-top: 15px;
  }
  .bg-portada {
    background-image: url(../assets/portada2.jpg);
  }
  .footer__contenedor {
    margin-left: 300px;
  }
  .footer__contenedor__enlace__icono {
    width: 15%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .frase {
    font-size: 1em;
    left: 15%;
  }
}
/*--MEDIA QUERIES - CONOCEME--*/
@media (min-width: 300px) and (max-width: 575px) {
  .grid__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "detalle1       detalle1" "foto_frente    foto_frente" "detalle2       detalle2" "foto_1         foto_2" "resumen_1      resumen_1" "detalle3       detalle3" "foto_3         foto_4" "resumen_2      resumen_2" "detalle4       detalle4" "detalle5       detalle5";
  }
}
@media (min-width: 300px) and (max-width: 992px) {
  .foto-frente__img {
    display: flex;
    width: 50%;
    max-width: 100%;
  }
  .foto_2 {
    width: 96%;
  }
  .descripcion_3 {
    padding-top: 0;
  }
  .resumen_1 {
    margin-bottom: 0;
  }
  .foto_3 {
    width: 91%;
  }
  .p-padding {
    padding-top: 0;
    margin-top: 0;
  }
  .foto_4 {
    width: 93%;
  }
  .p-conoceme {
    font-size: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .grid__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 170px auto auto auto auto auto auto;
    grid-template-areas: "detalle1       detalle1" "foto_frente    foto_frente" "detalle2       detalle2" "foto_1         foto_2" "resumen_1      resumen_1" "detalle3       detalle3" "foto_3         foto_4" "resumen_2      resumen_2 " "detalle4       detalle4" "detalle5       detalle5";
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .p-conoceme {
    font-size: 0.7rem;
  }
  .resumen_1 {
    padding-top: 0;
    width: 90%;
  }
  .descripcion_2 {
    margin-top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
