/*RESET - por default todo el documento va a tener este formato */
*{
    font-family: 'adam';
    font-size: x-large;
    background-color: #f7f8f2;
    padding: 0;
    margin: 0;
}

/*ENLACE ADAM FONT*/
@font-face {
    font-family:'adam';
    src: url(../fonts/Adam-Bold.ttf);
}

/*COLORES:
  rosa #f0e3db;      verde1 #c3d3c6;
  verde2 #bdd2c1;    verde oscuro #95a09a; 
  verdeH1 #5e615f99; tiza #f7f8f2;   */ 

/*ESTILOS DEL HEADER*/

.bg-nav{
    background-color: #95a09a;
}
.contenedor-nav{
    padding: 0;
}
.logo-nav{
    width: 28%;
}
.boton-nav{
    color: #95a09a;
    border: none;
}
.font-nav{
    font-family:'adam';
    font-size: x-large;
    color: #95a09a;
}

/*ESTILOS FOOTER*/

.logo-footer{
    width: 17%;
    margin-top: 35px;
}
.a-footer{
    background-color: #f7f8f2;
    color: #f7f8f2;
}
.icono-footer-dark{
    background-color: #f7f8f2;
    width: 5%;
}

/*ESTILOS GENERALES*/

h1{
    font-family: 'adam';
    font-size:5m;
    font-weight: 600;
    color:#5e615f99;
    text-align: center;
    margin: revert;
}
.text-aling-justify{
    text-align: justify;
}
.text-aling-center{
    text-align: center;
}

/*ESTILOS DEL INDEX*/
.grid{
    margin: 0;
    padding: 0;
}
.frase{
    display: flex;
    text-align: center;
    font-family:'Indie Flower', cursive;
    font-size:1.1em;
    color:#5e615f;
    position: absolute;
    top: 15%;
    left: 25%;
    background: none;
}
.img-portada{
    background-image: url(../assets/portada.jpg);
    background-size: cover;
    height: 540px;
    padding: 0;
    margin: 0;
    position: relative;
}
.section-footer{
    position: absolute;
    bottom: 0;
    background-color:  transparent;
    margin-bottom: 5px;
}
.contenedor-iconos{
    margin-left: 42px;
    background-color: transparent;
}
.contenedor-enlace{
    background-color: transparent;
    color: transparent;
}
.icono-footer{
    background-color:transparent;
    width: 11%;
}

/*ESTILOS DE SERVICIOS*/
.h2-servicios {
    font-weight:600;
    font-size: 0.8rem;
    text-align:center;   
    color:#95a09a;
    background-color:#f0e3db;
}
.row-servicios{
    margin: 5px;
    padding: 0;
}
.col-servicios{
    padding: 0;
}
.img-servicios {
    width: 100%;
    padding: 5px;
}
.p-servicios{
    font-size: x-large;
    text-align: justify;
}

/*ESTILOS PORTAFOLIO*/
.card-img{
    width: 90%;
    border-radius: 4%;
}
.h2-portafolio {
    font-weight:600;
    text-align:center;   
    color:#95a09a;
    font-size: larger;
}

/*ESTILOS CONOCEME*/
.img-central{
    width: 120%;
}
.img-conoceme{
    width: 95%;
    padding: 0;
}
.p-padding{
    padding-top: 30px;
}
.p-conoceme{
    background-color: #f0e3db;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    text-align: center;
    font-size: 1.1rem;
}

/*ESTILOS CONTACTO*/
.p-contacto{
    font-family: 'Indie Flower', cursive;
    font-size: 1.1rem;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 80px;
}
.icono-contacto{
    width: 60%;
}
.p-padding-cero{
    padding: 0;
}
.btn-contacto{
    border: none;
    background-color: #bdd2c1;
}

/*MEDIA QUERIES*/
@media (min-width:300px) and (max-width:576px) {
    .frase{
        font-size:0.7em;
        top: 0%;
        left: 20%;
    }
    .img-portada{
        background-image: url(../assets/portada2.jpg);
    }
    .contenedor-iconos{
        margin-left: 300px;
    }
    .icono-footer{
        width: 15%;
    }
}