/*RESET - por default todo el documento va a tener este formato */
*{
    font-family: 'Lato', sans-serif;
    background-color: #f7f8f2;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family:'adam';
    src: url(../fonts/Adam-Bold.ttf);
}

/*  COLORES rosa #f0e3db;
            verde1 #c3d3c6;
            verde2 #bdd2c1;
            verde oscuro #95a09a; 
            tiza #f7f8f2;   */ 

/*ESTILOS GENERALES*/

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #95a09a;
    /*margin-bottom: 0.26%;*/
    padding: 0;
    margin: 0;
}

.logo{
    display:flex;
    width: 100%;
}

.section-header__col-logo{
    padding: 0;
    justify-content: right;
}

.section-header__col-enlaces{
    display: flex;
    padding: 0;
    width: 100%;
}

.borde-boton{
    border: none;
}

.enlace{
    display: flex;   
}

.enlace li{
    list-style-type: none;
}

.enlace li a{
    text-decoration: none;
    color: #f7f8f2;
    font-size: 140%;
    font-weight: 600;
    /*padding: 30px;*/
    background-color:#95a09a;
    align-items: start;
}

.section-footer{
    display: flex;
    background-color: none;
    /*width: 1px;*/
}

.table-mensaje{
    background-color: #fff0f5;
}

.table-mensaje td{
    background-color: #fff0f5;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size:5m;
    font-weight: 600;
    color: #43512a;
    text-align: center;
}


/*ESTILOS DEL HEADER*/

.bg-nav{
    background-color: #95a09a;
}
 .contenedor-nav{
    padding: 0;
 }
.logo-nav{
    width: 28%;
}
.boton-nav{
    color: #95a09a;
    border: none;
}
 .font-nav{
    font-family:'adam';
    font-size: x-large;
    color: #95a09a;
 }

/*ESTILOS DEL INDEX*/
.frase{
    font-style: italic;
    font-size:1.7em;
    font-weight: 600;
    color:#95a09a;
    position: absolute;
    top: 35%;
    left: 25%;
    background: none;
}

.img-portada{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.section-footer{
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background-color:  #95a09a;
}

.contenedor-iconos{
    background-color:  #95a09a;
}

.contenedor-enlace{
    background-color: #95a09a;
    color: #95a09a;
}

.icono-footer{
    background-color:#95a09a;
    width: 13%;
}

/*ESTILOS DE SERVICIOS*/
.servicios h2{
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    color: #43512a;
}

.servicios img {
    width: 50%;
}

/*ESTILOS PORTAFOLIO*/
.card{
    width: 40%;
}

.card-img{
    width: 100%;
    border-radius: 4%;
}

.card titulo{   
    color: #50524a;
    text-align: center;
}

/*ESTILOS CONOCEME*/
.img-central{
    width: 30%;
}

.img-conoceme{
    width: 30%;
}

.text-aling-justify{
    text-align: justify;
}

.p-conoceme{
    background-color: #fff0f5;
    font-style: italic;
    text-align: center;
    font-size: 1.3rem;
}

/*ESTILOS CONTACTO*/
.section-contacto{
    font-style: italic;
}