/*RESET - por default todo el documento va a tener este formato */
*{
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'adam';
    font-size: x-large;
    background-color: #f7f8f2;
    padding: 0;
    margin: 0;
}

/*ENLACE ADAM FONT*/
@font-face {
    font-family:'adam';
    src: url(../fonts/Adam-Bold.ttf);
}

/*  COLORES:
    rosa #f0e3db;
    verde1 #c3d3c6;
    verde2 #bdd2c1;
    verde oscuro #95a09a; 
    verde H1 #5e615f99;
    tiza #f7f8f2;   */ 

/*ESTILOS DEL HEADER*/

.bg-nav{
    background-color: #95a09a;
}
.contenedor-nav{
    padding: 0;
}
.logo-nav{
    width: 28%;
}
.boton-nav{
    color: #95a09a;
    border: none;
}
.font-nav{
    font-family:'adam';
    font-size: x-large;
    color: #95a09a;
}

/*ESTILOS GENERALES*/

.logo-footer{
    width: 16%;
}

.a-footer{
    background-color: #f7f8f2;
    color: #f7f8f2;
}
.icono-footer-dark{
    background-color: #f7f8f2;
    width: 5%;
}

h1{
    font-family: 'adam';
    font-size:5m;
    font-weight: 600;
    color:#5e615f99;
    text-align: center;
    margin: revert;
}

/*ESTILOS DEL INDEX*/
.frase{
    font-family:'adam';
    font-size:1.3em;
    font-weight: 600;
    color:#5e615f;
    position: absolute;
    top: 35%;
    left: 25%;
    background: none;
}

.img-portada{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.section-footer{
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background-color:  #95a09a;
}

.contenedor-iconos{
    background-color:  #95a09a;
}

.contenedor-enlace{
    background-color: #95a09a;
    color: #95a09a;
}

.icono-footer{
    background-color:#95a09a;
    width: 13%;
}

/*ESTILOS DE SERVICIOS*/
.h2-servicios {
    font-weight:600;
    font-size: 0.8rem;
    text-align:center;   
    color:#95a09a;
    background-color:#f0e3db;
}

.row-servicios{
    margin: 5px;
    padding: 0;
}
.col-servicios{
    padding: 0;
}


.img-servicios {
    width: 100%;
    padding: 5px;
}

.p-servicios{
    font-size: x-large;
    text-align: justify;
}

/*ESTILOS PORTAFOLIO*/
.card-img{
    width: 90%;
    border-radius: 4%;
}

.card titulo{   
    color: #50524a;
    text-align: center;
}

.h2-portafolio {
    font-weight:600;
    text-align:center;   
    color:#95a09a;
    font-size: larger;
}

/*ESTILOS CONOCEME*/
.img-central{
    width: 120%;
}
.img-conoceme{
    width: 95%;
    padding: 0;
}
.p-padding{
    padding-top: 30px;
}
.text-aling-justify{
    text-align: justify;
}

.text-aling-center{
    text-align: center;
}

.p-conoceme{
    background-color: #f0e3db;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    text-align: center;
    font-size: 1.1rem;
}

/*ESTILOS CONTACTO*/
.p-contacto{
    font-family: 'Indie Flower', cursive;
    font-size: 1.1rem;
}
.icono{
    width: 12%;
}
.btn-contacto{
    border: none;
    background-color: #bdd2c1;
}
