/*--ANIMACION EN TITULOS Y EN FRASE CONTACTO--*/

//ANIMACION TITULOS
.animacion{
    overflow: hidden;

    & p{
        white-space: nowrap;
        overflow: hidden;
        animation: typing 5s steps(70, end);
        animation-iteration-count: infinite;
    }
}

//ANIMACION FRASE CONTACTO
@keyframes typing {
    from {
      width: 0; 
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }