/*--ESTILOS CONOCEME--*/
.caja{
    margin: 10px 15px 10px 15px;
}

.caja__img{
    width: 100%;
    height: auto;
} 

.caja__resumen{
    background-color: map-get($bg-color, rosa);
    @extend %frase-style;
    font-size: 1.1rem;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    @include flex-grid(center, none);
    text-align: center;
    height: 100%;
}
.resumen{
    background-color: map-get($bg-color, rosa);
    padding-top: 8px;
} 

.p-padding{
    padding-top: 30px;
}

.foto-frente{
    width: 93%;
    @include flex-grid (center, center);

    &__img{
        width: 100%;
    }
}

.descr-col{
    margin-top: 25px;
    @include flex-grid(center, center);
}

.foto{
    width: auto;
    height: 100%;
    text-align: center;
}