/*--ESTILOS CONTACTO--*/
.btn-contacto{
    border: none;
    background-color: $verde;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

li{
    margin-bottom: 10px;
}

.margen-ul{
    margin-top: 45px;
}

.icono-contacto{
    position: relative;
    display: block;
    
    &__img{
        width: auto;
        height: 40px;
    }
    &__p{
        margin-top: 5px;
        padding-left: 10px;
        border-left: 4px solid $rosa;
    }
}


//FRASE FINAL DE AGUS
.contacto__p{
    font-family: $fuente-secu;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: map-get($font-sizes, md);
} 