/*--ESTILOS CONOCEME--*/
.foto-frente__img{
    width: 100%;
}
.caja__img{
    width: 95%;
    height: auto;
    padding: 0;
}
.p-padding{
    padding-top: 30px;
}
.caja__resumen{
    background-color: map-get($bg-color, rosa);
    @extend %frase-style;
    font-size: 1.1rem;
    padding: 9.1px;
}