/*--ESTILOS FOOTER--*/
.logo-footer{
    width: 17%;
    margin-top: 35px;
}
.a-footer{
    background-color: map-get($bg-color, tiza);
    color: $tiza;
}
.icono-footer{
    background-color: map-get($bg-color, tiza);
    width: 5%;
}