/*--ESTILOS GENERALES--*/
h1{
    font-family: $fuente-ppal;
    font-weight: 600;
    color: $verde-H1;
    text-align: center;
    padding: 40px;
}
.justificar{
    text-align: justify;
}
.centrar{
    text-align: center;
}
.derecha{
    align-items: end;
} 
strong{
    text-shadow: 1px 1px 1px gray;
}