/*--ESTILOS GENERALES--*/
/*.body{
    background-color: map-get($bg-color, tiza);
}*/
h1{
    font-family: $fuente-ppal;
    font-size:5m;
    font-weight: 600;
    color: $verde-H1;
    text-align: center;
    padding: 40px;
}
.justificar{
    text-align: justify;
}
.centar{
    text-align: center;
}
strong{
    text-shadow: 1px 1px 1px gray;
}