/*--GRID - CONOCEME--*/
.grid__container{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: 
    'detalle1   detalle1    detalle1    foto_frente'
    'detalle2   detalle2    detalle2    detalle2'
    'foto_1     foto_2      foto_2      resumen_1'
    'detalle3   detalle3    detalle4    detalle4'
    'foto_3     resumen_2   resumen_2   foto_4'
    'detalle5   detalle5    detalle5    detalle5'
    'detalle6   detalle6    detalle6    detalle6';
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
}

.descripcion_1{
    grid-area: detalle1;
}
.foto-frente{
    grid-area: foto_frente;
}
.descripcion_2{
    grid-area: detalle2;
}
.foto_1{
    grid-area: foto_1;
}
.foto_2{
    grid-area: foto_2;
}
.resumen_1{
    grid-area: resumen_1;
}
.descripcion_3{
    grid-area: detalle3;
}
.foto_3{
    grid-area: foto_3;
}
.resumen_2{
    grid-area: resumen_2;
}
.foto_4{
    grid-area: foto_4;
}
.descripcion_4{
    grid-area: detalle4;
}
.descripcion_5{
    grid-area: detalle5;
}
.descripcion_6{
    grid-area: detalle6;
}