/*--ESTILOS DEL HEADER--*/
.bg-nav{
    background-color: $verde-oscuro;
}
.contenedor-nav{
    padding: 0;
}
.logo-nav{
    width: 28%;
}
.boton-nav{
    color: $verde-oscuro;
    border: none;
}
.font-nav{
    font-family: $fuente-ppal;
    font-size: x-large;
    color: $verde-oscuro;
}