/*--ESTILOS DEL HEADER--*/
.bg-nav{
    background-color: $verde-oscuro;
}
.contenedor-header{
    padding: 0;
}
.contenedor-nav{
    padding: 0;
    padding-left: 27px;
}
.logo-nav{
    width: 65%;
    height: auto;
}
.boton-nav{
    color: $verde-oscuro;
    border: none;
}
.navbar-toggler:focus {
    outline: none; 
    border-color: transparent; 
    box-shadow: none; 
  }
.contenedor-ul{
    padding-right: 20px;
}
.derecha{
    align-items: end;
}
.margen{
    margin-bottom: 0;
}
.font-nav{
    @include font-and-size; 
    color: $verde-oscuro;
}
