/*--ESTILOS DEL INDEX--*/
.grid{
    @include padding-margin-0;
}
.bg-portada{
    background-image: url(../assets/portada.jpg);
    background-size: cover;
    height: 540px;
   @include padding-margin-0;
    position: relative;
}
.frase{
    display: flex;
    @extend %frase-style;
    color: $verde-Frase;
    position: absolute;
    top: 15%;
    left: 25%;
    background: none;
}
.footer{
    position: absolute;
    bottom: 0;
    background-color:  transparent;
    margin-bottom: 5px;

    &__contenedor{
        margin-left: 42px;
        background-color: transparent;

        &__enlace{
            background-color: transparent;
            color: transparent;
            
            &__icono{
                background-color:transparent;
                width: 11%;
            }
        }
    }       
}
