/*--ESTILOS DEL INDEX--*/
.contenedor-frase{
    margin: 0;

    &__bg{
        display: flex;
        justify-content: center;
        background-image: url(../assets/portada.webp);
        background-size: cover;
        height: 100vh;
        @include padding-margin-0;
        position: relative;
  
        &__frase{
            display: flex;
            margin:40px;
            @extend %frase-style;
            color: $verde-Frase;
            background: none;
            font-size: map-get($font-sizes, md);
        }
    }
}
.footer-index{
    border-top: 10px solid $tiza;
    border-bottom: 10px solid $tiza;
}
.contenedor-diseño-index{
    padding: 0;
}
.diseño-index{
    padding: 10px 0 10px 5px;
}
.col-index-foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50px;
} 