/*--MEDIA QUERIES - INDEX--*/
@media (min-width:300px) and (max-width:575px) {
    .frase{
        font-size:0.7em;
        top: 0%;
        left: 20%;
        margin-top: 15px;
    }
    .bg-portada{
        background-image: url(../assets/portada2.jpg);
    }
    .footer__contenedor{
        margin-left: 300px;

        &__enlace__icono{
            width: 15%;
        }
    }
}

@media (min-width:576px) and (max-width:767px) {
    .frase{
        font-size:1em;
        left: 15%;
    }
}
