/*--MEDIA QUERIES - INDEX--*/

//CAMBIO DEL TAMAÑO DE LA FRASE
@media (min-width:300px) and (max-width:350px) {
    .contenedor-frase__bg__frase{
        font-size:0.6em;
    }
}
@media (min-width:351px) and (max-width:575px) {
    .contenedor-frase__bg__frase{
        font-size:0.7em;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .contenedor-frase__bg__frase{
        font-size:1em;
        left: 15%;
    }
}

// CAMBIOS GENERALES
@media (min-width:300px) and (max-width:575px) {
    .contenedor-frase__bg__frase{
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .contenedor-frase__bg{
        background-image: url(../assets/portada2.webp);
    }
    .diseño-index{
        font-size: small;
    }
    .col-index-foot{
        min-height: auto;
        justify-content:flex-start;
    }
}
