/*--MEDIA QUERIES - CONOCEME--*/

@media (min-width:300px) and (max-width:1199px) {
    .grid__container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(10, auto);
        grid-template-areas: 
        'detalle1       detalle1'
        'foto_frente    foto_frente'
        'detalle2       detalle2'
        'foto_1         foto_2'
        'resumen_1      resumen_1'
        'detalle3       detalle3'
        'foto_3         foto_4'
        'resumen_2      resumen_2'
        'detalle4       detalle4'
        'detalle5       detalle5';
    }

    .foto-frente__img {
        display: flex;
        width: 50%;
        max-width: 100%;
    }
} 

@media (min-width:300px) and (max-width:991px) {
    .caja__resumen{
        font-size: 1rem;
    }
}

@media (min-width:1920px){
    
}