/*--ESTILOS PORTAFOLIO--*/
.img-portafolio{
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 4%;
}
.h2-portafolio {
    font-weight:600;
    text-align:center;
    color: $verde-oscuro;
    font-size: map-get($font-sizes, md);
}