/*--ESTILOS DE SERVICIOS--*/
.h2-servicios{
    font-weight:600;
    color: $verde-oscuro;
    background-color: map-get($bg-color, rosa);
    text-align: center;
    $font-sizes:map-get($font-sizes, md); 
}
.row-servicios{
    margin: 5px;
    padding: 0;
}
.col-servicios{
    padding: 0;
}
.img-servicios {
    width: 100%;
    padding: 5px;
}
.margen-renderizado{
    margin-bottom: 0;
}