// VARIABLES
$rosa: #f0e3db;
$tiza: #f7f8f2;
$verde: #bdd2c1;  
$verde-oscuro: #95a09a; 
$verde-H1: #5e615f99;
$verde-Frase: #5e615f;
$fuente-ppal: 'adam';
$fuente-secu:'Indie Flower', cursive;

//MAPS
$font-sizes:(
    xxl: 48px,
    xl: 28px,
    md: 24px,
    sm: 16px,
    xs: 14px,
);   

@each $size, $num in $font-sizes{
    .fz-#{$size}{
        font-size: $num;
    }
};

//MAPS CON GET
$bg-color:(
    rosa: $rosa,
    tiza: $tiza,
);

//EXTEND
%frase-style{
    font-family: $fuente-secu;
    font-style: italic;
    text-align: center;
}