// VARIABLES

//COLORES
$rosa: #f0e3db;
$tiza: #f7f8f2;
$verde: #bdd2c1;  
$verde-oscuro: #95a09a; 
$verde-H1: #5e615f99;
$verde-Frase: #5e615f;

//FUENTES
$fuente-ppal: 'adam';
$fuente-secu:'Indie Flower', cursive;

//MAPS
/*--FONT SIZE--*/
$font-sizes:(
    xxl: 65px,
    xl: 48px,
    md: 30px,
    sm: 24px,
    xs: 14px,
);   

//MAPS CON GET
$bg-color:(
    rosa: $rosa,
    tiza: $tiza,
);

//EXTEND
%frase-style{
    font-family: $fuente-secu;
    font-style: italic;
    text-align: center;
}