// DEFINIR VARIABLE


// PALABRAS CLAVE
$rosa: #f0e3db;
$verde1: #c3d3c6;
$verde2: #bdd2c1;
$verde_oscuro: #95a09a; 
$verde_H1: #5e615f99;
$tiza: #f7f8f2;
$fuente-ppal: 'adam';
$fuente-secundaria:'Indie Flower', cursive;